*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    background-color: #DCDCDC;
    font-size: 15px;}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: #fff;
    background-color: #363636;
    background-size: 300% 400%;
    font-size: 15px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #363636;
}

.infinicio{
    text-align: center;
    padding: 20px;
}

.divulgacoes{
    padding: 20px
}

.voltaraoinicio{
    padding: 20px;
}

.formaspag{
    padding: 20px;
}

.linkcomprar{
    font-size: 25px;
    padding: 5px;
}