*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    background-color: #DCDCDC;
    font-size: 15px;}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: #fff;
    background-color: #363636;
    background-size: 300% 400%;
    font-size: 15px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: #363636;
}

.infinicio{
    text-align: center;
    padding: 20px;
}

.divulgacoes{
    padding: 10px
}

.voltaraoinicio{
    padding: 10px;
}

.formaspag{
    padding: 10px;
}

.linkcomprar{
    font-size: 15px;
    padding: 5px;
}

button{
    color: #ffffff;
    border: #080079 solid 3px;
    background-color: #363636;
    padding: 5px;
    font-size: 20px;
}

.botaogrupos{
    margin: 10px;
}

.linkbotao{
    text-decoration: none;
    color: #fff;
}
