*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

body{
    background-color: #DCDCDC;
    font-size: 15px;}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: #fff;
    background-color: #363636;
    background-size: 300% 400%;
    font-size: 15px;
    padding: 20px;
}

a{
    text-decoration: none;
    color: 	rgb(44, 44, 44);}

.infinicio{
    text-align: center;
    padding: 20px;
}

.comprar{
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
        
.titulocomofunciona{
    color: rgb(44, 44, 44);
}

.comofunciona{
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

.infseguranca {
    padding: 20px;
}
.infsegurancah3{
    text-align: center;
    color: rgb(44,44,44);
    font-size: 15px;
}

.infsegp{
    text-align: center;
    color: #363636;
    font-size: 13px;}

.formaspag{
    padding: 20px;
    position: relative;
    text-align: center;
}

button{
    color: #ffffff;
    border: #080079 solid 3px;
    background-color: #363636;
    padding: 5px;
    font-size: 20px;
}

.botaogrupos{
    margin: 20px;
}

.linkbotao{
    text-decoration: none;
    color: #fff;
}